<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pettory.pettory.jointshopping.query.mapper.JointShoppingGroupMapper">

<!--    <resultMap id="product" type="ProductDto" autoMapping="true">-->
<!--        <id property="productCode" column="product_code"/>-->
<!--        <association property="category" javaType="CategoryDto" autoMapping="true">-->
<!--            <id property="categoryCode" column="category_code"/>-->
<!--        </association>-->
<!--    </resultMap>-->

    <select id="selectGroups" resultType="com.pettory.pettory.jointshopping.query.dto.JointShoppingGroupDTO">
        SELECT
        g.joint_shopping_group_num,
        g.joint_shopping_group_name,
        g.joint_shopping_products,
        g.joint_shopping_products_state,
        g.joint_shopping_products_file_directory,
        g.joint_shopping_info,
        g.joint_shopping_cost,
        g.joint_shopping_group_maximum_count,
        g.joint_shopping_participation_maximum_count,
        g.host_invoice_num,
        c.joint_shopping_category_num as "category.joint_shopping_category_num",
        c.joint_shopping_category_title as "category.joint_shopping_category_title",
        g.user_id
        FROM joint_shopping_group g
        JOIN joint_shopping_category c ON (g.joint_shopping_category_num = c.joint_shopping_category_num)
        WHERE (g.joint_shopping_group_state = 'APPLICATION' OR g.joint_shopping_group_state = 'CLOSE')
        <if test="categoryNum != null">
            AND g.joint_shopping_category_num = #{categoryNum}
        </if>
        <if test="groupName != null">
            AND g.joint_shopping_group_name LIKE CONCAT('%', #{groupName}, '%')
        </if>
        <if test="products != null">
            AND g.joint_shopping_products LIKE CONCAT('%', #{products}, '%')
        </if>
        ORDER BY g.joint_shopping_group_num
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="selectGroupByNum" resultType="com.pettory.pettory.jointshopping.query.dto.JointShoppingGroupDTO">
        SELECT
        g.joint_shopping_group_num,
        g.joint_shopping_group_name,
        g.joint_shopping_products,
        g.joint_shopping_products_state,
        g.joint_shopping_products_file_directory,
        g.joint_shopping_info,
        g.joint_shopping_cost,
        g.joint_shopping_group_maximum_count,
        g.joint_shopping_participation_maximum_count,
        g.host_invoice_num,
        c.joint_shopping_category_num as "category.joint_shopping_category_num",
        c.joint_shopping_category_title as "category.joint_shopping_category_title",
        g.user_id
        FROM joint_shopping_group g
        JOIN joint_shopping_category c ON (g.joint_shopping_category_num = c.joint_shopping_category_num)
        WHERE joint_shopping_group_num = #{groupNum}
        AND (g.joint_shopping_group_state = 'APPLICATION' OR g.joint_shopping_group_state = 'CLOSE')
    </select>

    <select id="countGroups" resultType="long">
        SELECT COUNT(*)
        FROM joint_shopping_group
        WHERE (joint_shopping_group_state = 'APPLICATION' OR joint_shopping_group_state = 'CLOSE')
        <if test="categoryNum != null">
            AND joint_shopping_category_num = #{categoryNum}
        </if>
        <if test="groupName != null">
            AND joint_shopping_group_name LIKE CONCAT('%', #{groupName}, '%')
        </if>
        <if test="products != null">
            AND joint_shopping_products LIKE CONCAT('%', #{products}, '%')
        </if>
    </select>

    <select id="selectBookmarks" resultType="com.pettory.pettory.jointshopping.query.dto.JointShoppingGroupDTO">
        SELECT
        g.joint_shopping_group_num,
        g.joint_shopping_group_name,
        g.joint_shopping_products,
        g.joint_shopping_products_state,
        g.joint_shopping_products_file_directory,
        g.joint_shopping_info,
        g.joint_shopping_cost,
        g.joint_shopping_group_maximum_count,
        g.joint_shopping_participation_maximum_count,
        g.host_invoice_num,
        c.joint_shopping_category_num as "category.joint_shopping_category_num",
        c.joint_shopping_category_title as "category.joint_shopping_category_title",
        g.user_id
        FROM joint_shopping_group g
        JOIN joint_shopping_category c ON (g.joint_shopping_category_num = c.joint_shopping_category_num)
        JOIN bookmark b ON (g.joint_shopping_group_num = b.joint_shopping_group_num)
        WHERE b.user_id = #{userId}
        AND (g.joint_shopping_group_state = 'APPLICATION' OR g.joint_shopping_group_state = 'CLOSE')
        ORDER BY g.joint_shopping_group_num
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="countBookmarks" resultType="long">
        SELECT COUNT(*)
        FROM joint_shopping_group g
        JOIN bookmark b ON (g.joint_shopping_group_num = b.joint_shopping_group_num)
        WHERE b.user_id = #{userId}
        AND (joint_shopping_group_state = 'APPLICATION' OR joint_shopping_group_state = 'CLOSE')
    </select>

</mapper>